.home-container {
  display: flex;
  flex-direction: column;
  padding-top: 5vh;
  padding-left: 20px;
  width: 80%;
  gap: 10px;
}
.home-container h1 {
  font-size: min(2em, 5vw);
  font-family: "Roboto";
}
