.header-container{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    background-image: linear-gradient( 160deg, #f309c8 0%, #0077ff 100%, #ffff00 100% );
    align-items: center ;
    padding: 20px; 
    color: white;
    font-family: "Roboto";
    font-size: 1.2em;
    font-weight: bold;
    @media screen and (max-width: 768px) {
        font-size: 1em;
    }     
}

.header-container button{
    background-color: rgb(241, 78, 176);   
    border: none;
    outline: none;
    padding: 10px 15px;
    font-family: "Roboto";
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    &:is(:hover, :focus){
        background-color: rgb(241, 78, 176);
    }
}